a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:active {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #719eff;
}

.container {
    background-color: #eee;
    margin: auto;
    max-width: 80%;
    min-width: 50%;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container .header {
    border-bottom: 1px gray solid;
    border-radius: 20px;
    background-color: #b0b0b0;
}

.container .content {
    background-color: lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content .question {
    font-size: 2em;
    margin: 20px auto 20px auto;
    border-radius: 20px;
    max-width: 70%;
    min-width: 20%;
    background-color: #ccd;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.answer.show {
    background-color: #ccc9;
    font-size: 0.75em;
    border-radius: 50%;
}

.answer.show:before {
    content: "↓";
    display: block;
}

.content .response a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.content .response:hover a {
    opacity: 0.5;
    transition-duration: 0.25s;
}

.content .response .ok {
    background-color: green;
}

.content .response .ok:hover {
    opacity: 1;
    transition-duration: 0.25s;
}

.content .response .nok {
    background-color: red;
}

.content .response .nok:hover {
    opacity: 1;
    transition-duration: 0.25s;
}


.settings {
    /*content: "֍";*/
    display: flex;
    float: right;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    padding: 5px;
}

.settings .list {
    display: none;
}
.settings:hover {
    color: green;
}
.settings:hover .list {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
